@font-face {
    font-family: "bc_b";
    src: url(/public/fonts/BCcardB.ttf);
}

@font-face {
    font-family: "bc_l";
    src: url(/public/fonts/BCcardL.ttf);
}

.main_container {
    position: relative;
    display: flex;
    flex-direction: column; /* 세로로 배치 */
    align-items: center;
    justify-content: center;
    /* height: 100vh; */
    width: 100%;
}

.modal_background{
    top: 0;
    width: 100%;
    height: 100%;
    max-width: 412px;
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    z-index: 10;

}

.find_friend_modal_container{
    width: 22rem;
    height: 25rem;
    top: 50%;
    left: 50%;
    z-index: 11;
    position: absolute;
    border-radius: 30px;
    transform: translate(-50%, -50%);
    background: #FFDD71;

}

.find_friend_title_container{
    position: relative;
    display: flex;
    top: 10%;
    left: 50%;
    width: 22rem;
    height: 4rem ;
    transform: translate(-50%, -50%);
}

.find_friend_modal_title{
    width: 13rem;
    font-family: "bc_b";
    font-size: 1.6rem;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.find_friend_modal_x{
    position: absolute;
    top: 40%;
    left: 90%;
    transform: translate(-50%, -50%);
    width: auto;
    height: 2rem;
}

.find_friend_search_container{
    width: 20rem;
    height: 5rem;
    top: 25%;
    left: 50%;
    z-index: 11;
    position: absolute;
    border-radius: 30px;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
}

.find_friend_search_box{
    width: 13.7rem;
    height: 1.9rem;
    border-radius: 18px;
    border: none;
    outline: none;
    background: #FFFBF3;
    font-family: "bc_b";
    font-size: 1.5rem;
    margin-left: 2.5%;
    padding: 0.8rem;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
}

.find_friend_search_icon{
    height: 3rem;
    width: auto;
    margin-left: 3%;
}

.find_friend_list_container{
    width: 20rem;
    height: 15rem;
    top: 65.6%;
    left: 50%;
    z-index: 11;
    position: absolute;
    border-radius: 30px;
    transform: translate(-50%, -50%);
    background: #FFFBF3;
}

.find_friend_names_container{
    width: 20rem;
    height: 14.9rem;
    position: relative;
    border-radius: 30px;
    overflow-y: auto;
    overflow-x: hidden;
}

.find_friend_name_container{
    width: 18.7rem;
    height: 4.5rem;
    margin: 0.7rem;
    position: relative;
    border-radius: 20px;
    align-items: center;
    display: flex;
    background: #FFF2CB;
    box-shadow: 0.01rem 0.01rem 0.5rem 0 rgba(0, 0, 0, 0.2);
}

.find_friend_img_container{
    width: 3.8rem;
    height: 3.8rem;
    border-radius: 50px;
    margin-left: 2.5%;
    object-fit: cover;
}

.find_friend_name_txt{
    width: 7rem;
    height: fit-content;
    font-family: "bc_b";
    margin-left: 2%;
    font-size: 1rem;
}

.find_friend_modal_btn_container{
    width: 4rem;
    height: 4.5rem;
    font-family: "bc_b";
    border-radius: 20px;
    margin-left: 18%;
    margin-right: 3%;
    font-size: 1rem;
    align-items: center;
    display: flex;
}

.find_friend_put_btn{
    width: 3.5rem;
    height: 2.5rem;
    border-radius: 10px;
    background: #FFCB23;
    align-items: center;
    justify-content: center;
    display: flex;
    box-shadow: 0.01rem 0.01rem 0.5rem 0 rgba(0, 0, 0, 0.2);
}

.find_friend_delete_btn{
    width: 3.5rem;
    height: 2.5rem;
    border-radius: 10px;
    background: #E98B8B;
    align-items: center;
    justify-content: center;
    display: flex;
    box-shadow: 0.01rem 0.01rem 0.5rem 0 rgba(0, 0, 0, 0.2);    margin-left: 3%;
}

.find_friend_btn_txt{
    font-family: "bc_b";
    font-size: 1.1rem;
}

.find_friend_btn_container{
    width: 22.5rem;
    height: 8rem;
}

.find_friend_btn{
    margin-top: 8.5%;
    width: 22.5rem;
    height: 5.5rem;
    border-radius: 1.5rem;
    background: #FFCB23;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0.113rem 0.225rem 0.5rem 0 rgba(0, 0, 0, 0.3);

}

.btn_txt{
    font-family: "bc_b";
    font-size: 2rem;
}

.mode_choose{
    width: 7.5rem;
    height: 3.125rem;
    background: #FFFEFC;
    border-top-left-radius: 0.938rem;
    border-top-right-radius: 0.938rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: -0.113rem -0.225rem 0.2rem rgba(0, 0, 0, 0.1);
}

.tab_container{
    width: fit-content;
    height: fit-content;
    margin-top: 6%;
}

.mode_tabs{
    display: flex;
    width: 22.5rem;
    height: 3.125rem;
}

.mode_friend_list{
    width: 7.5rem;
    height: 3.125rem;
    background: #E4DDC6;
    border-top-left-radius: 0.938rem;
    border-top-right-radius: 0.938rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: -0.113rem -0.225rem 0.2rem rgba(0, 0, 0, 0.1);
}

.mode_friend_list_txt{
    font-size: 1.3rem;
    font-family: "bc_b";
}

.friend_list_content{
    width: 22.5rem;
    height: 35rem;
    border-bottom-left-radius: 0.938rem;
    border-bottom-right-radius: 0.938rem;
    background: #FFFEFC;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0.113rem 0.225rem 0.5rem 0 rgba(0, 0, 0, 0.3);
}


.mode_send_list{
    width: 7.5rem;
    height: 3.125rem;
    background: #E4DDC6;
    border-top-left-radius: 0.938rem;
    border-top-right-radius: 0.938rem;
    display: flex;
    justify-content: center;    
    align-items: center;
    text-align: center;
    box-shadow: -0.113rem -0.225rem 0.2rem rgba(0, 0, 0, 0.1);
}

.mode_send_list_txt{
    font-size: 1.3rem;
    font-family: "bc_b";
}

.send_list_content{
    width: 22.5rem;
    width: 22.5rem;
    height: 35rem;
    border-bottom-left-radius: 0.938rem;
    border-bottom-right-radius: 0.938rem;
    background: #FFFEFC;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0.113rem 0.225rem 0.5rem 0 rgba(0, 0, 0, 0.3);
}


.mode_receive_list{
    width: 7.5rem;
    height: 3.125rem;
    background: #E4DDC6;
    border-top-left-radius: 0.938rem;
    border-top-right-radius: 0.938rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: -0.113rem -0.225rem 0.2rem rgba(0, 0, 0, 0.1);
}

.mode_receive_list_txt{
    font-size: 1.3rem;
    font-family: "bc_b";
}

.receive_list_content{
    width: 22.5rem;
    height: 35rem;
    border-bottom-left-radius: 0.938rem;
    border-bottom-right-radius: 0.938rem;
    background: #FFFEFC;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0.113rem 0.225rem 0.5rem 0 rgba(0, 0, 0, 0.3);
}


.friend_container{
    width: 20.4rem;
    height: 6.5rem;
    position: relative;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
    background: #FFF2CB;
    margin-top: 3%;
    margin-bottom: 3%;
    box-shadow: 0.01rem 0.01rem 0.5rem 0 rgba(0, 0, 0, 0.2);
}

.friend_img_container{
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50px;
    margin-left: -1%;
    object-fit: cover;
}

.friend_info_container{
    width: 14rem;
    height: 6rem;
    text-align: left;
    font-family: "bc_b";
}

.friend_name_txt{
    font-size: 1.5rem;
    margin: 0.5rem 0 0 0.5rem;
}

.friend_intro{
    font-size: 1rem;
    margin: 0 0 0 0.7rem;
}

.send_friend_container{
    width: 20.4rem;
    height: 6.5rem;
    position: relative;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
    background: #FFF2CB;
    margin-top: 3%;
    margin-bottom: 3%;
    box-shadow: 0.01rem 0.01rem 0.5rem 0 rgba(0, 0, 0, 0.2);
}

.send_friend_img_container{
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50px;
    margin-left: -1%;
    object-fit: cover;
}

.send_friend_info_container{
    width: 14rem;
    height: 6rem;
    display: flex;
    text-align: left;
    align-items: center;
    justify-content: center;
    font-family: "bc_b";
}

.send_friend_name_txt{
    width: 8rem;
    height: fit-content;
    font-size: 1.2rem;
    margin: 0 0 0 0.5rem;
}

.send_cancel_btn{
    width: 3.5rem;
    height: 2.5rem;
    border-radius: 10px;
    background: #E98B8B;
    align-items: center;
    justify-content: center;
    display: flex;
    box-shadow: 0.01rem 0.01rem 0.5rem 0 rgba(0, 0, 0, 0.2);   
    margin-left: 8%;
}

.cancel_btn_txt{
    font-family: "bc_b";
    font-size: 1.2rem;
}

.receive_friend_container{
    width: 20.4rem;
    height: 6.5rem;
    position: relative;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
    background: #FFF2CB;
    margin-top: 3%;
    margin-bottom: 3%;
    box-shadow: 0.01rem 0.01rem 0.5rem 0 rgba(0, 0, 0, 0.2);
}

.receive_friend_img_container{
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50px;
    margin-left: -1%;
    object-fit: cover;
}

.receive_friend_info_container{
    width: 14rem;
    height: 6rem;
    display: flex;
    text-align: left;
    align-items: center;
    justify-content: center;
    font-family: "bc_b";
}

.receive_friend_name_txt{
    width: 9rem;
    height: fit-content;
    font-size: 1.2rem;
    margin-left: 0.8rem;
}

.receive_btn_container{
    width: 7rem;
    height: fit-content;
    display: flex;
    margin-left: 2%;
}

.receive_ok_btn{
    width: 3.5rem;
    height: 2.5rem;
    border-radius: 10px;
    background: #C2ED7B;
    align-items: center;
    justify-content: center;
    display: flex;
    box-shadow: 0.01rem 0.01rem 0.5rem 0 rgba(0, 0, 0, 0.2);
}

.receive_ok_btn_txt{ 
    font-family: "bc_b";
    font-size: 1.2rem;
}

.receive_cancel_btn{
    width: 3.5rem;
    height: 2.5rem;
    border-radius: 10px;
    background: #E98B8B;
    align-items: center;
    justify-content: center;
    display: flex;
    box-shadow: 0.01rem 0.01rem 0.5rem 0 rgba(0, 0, 0, 0.2);   
    margin-left: 3%;
}

.receive_cancel_btn_txt{
    font-family: "bc_b";
    font-size: 1.2rem;
}

.find_friend_default_container{
    text-align: center;
    width: 100%;
}

.find_friend_default_container h2{
    margin-bottom: 0;
}
.find_friend_default_container img{
    width: 7rem;
    margin-top: -1rem;
}

.list_default{
    text-align: center;
    padding: 1rem;
}

.list_default h2{
    margin-bottom: 0;
}

.list_default img{
    width: 15rem;
}