@font-face {
    font-family: "bc_b";
    src: url(/public/fonts/BCcardB.ttf);
}

@font-face {
    font-family: "bc_l";
    src: url(/public/fonts/BCcardL.ttf);
}

.main_container {
    position: relative;
    display: flex;
    flex-direction: column; /* 세로로 배치 */
    align-items: center;
    justify-content: center;
    /* height: 100vh; */
    width: 100%;
}

.rank_list_content{
    width: 22.4rem;
    height: 40.125rem;
    border-radius: 0.938rem;
    margin-top: 5%;
    background: #FFFEFC;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0.113rem 0.225rem 0.5rem 0 rgba(0, 0, 0, 0.3);
}

.mode_choose{
    width: 4.6rem;
    height: 3.125rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-bottom: 6px solid #FFDD71;
}


.rank_content_container{
    width: 24.5rem;
    height: 47rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 1.5rem;
    background: #FFDD71;
    box-shadow: 0.113rem 0.225rem 0.5rem 0 rgba(0, 0, 0, 0.3);

}

.rank_title{
    width: 13rem;
    height: 3.5rem;
    background: #FFFEFC;
    border-radius: 0.938rem;
    font-family: "bc_b";
    font-size: 1.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0.113rem 0.225rem 0.5rem 0 rgba(0, 0, 0, 0.3);

}

.tab_container{
    width: fit-content;
    height: fit-content;
    margin-top: 6%;
}

.mode_tabs{
    margin-top: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 22.4rem;
    height: 3.125rem;
}

.day_rank_tab{
    width: 5.2rem;
    height: 3.125rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.day_rank_tab_txt{
    font-size: 1.3rem;
    font-family: "bc_b";
}

.week_rank_tab{
    width: 5.2rem;
    height: 3.125rem;
    display: flex;
    justify-content: center;    
    align-items: center;
    text-align: center;
}

.week_rank_tab_txt{
    font-size: 1.3rem;
    font-family: "bc_b";
}


.month_rank_tab{
    width: 5.2rem;
    height: 3.125rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.month_rank_tab_txt{
    font-size: 1.3rem;
    font-family: "bc_b";
}

.strick_rank_tab{
    width: 5.2rem;
    height: 3.125rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.strick_rank_tab_txt{
    font-size: 1.3rem;
    font-family: "bc_b";
}

.day_rank_container{
    width: 22.4rem;
    height: 35rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2.5%;
}

.rank_day{
    width: 21.4rem;
    height: 4rem;
    margin-top: 2%;
    border-radius: 0.938rem;
    background: #FFDD71;
    border: 2px solid #EACB68;
    font-family: "bc_b";
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top_rank_container{
    width: 21.4rem;
    height: 12rem;
    margin-top: 3%;
    border-radius: 0.938rem;
    background: #FFF2CB;
    box-shadow: 0.013rem 0.013rem 0.2rem 0 rgba(0, 0, 0, 0.3);

}

.top3_ranks{
    width: 21.4rem;
    height: 12rem;
    border-radius: 0.938rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.first_rank_container{
    width: 7rem;
    height: 12rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "bc_b";
}

.first_rank_title{
    font-size: 1.7rem;
    font-family: "bc_b";
    margin-top: 2%;
}

.first_rank_crown{
    width: auto;
    height: 2rem;
    margin-top: -28%;
}

.first_rank_profile_container{
    width: 6.2rem;
    height: 7rem;
    background: #FFFEFC;   
    border-radius: 0.938rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.first_rank_img{
    width: 4rem;
    height: 4rem;
    border-radius: 20rem;
    margin-top: 25%;
}

.first_rank_name{
    font-family: "bc_b";
    font-size: 1rem;
    margin-top: 5%;
}

.day_ranks_container{
    width: 22.4rem;
    height: 18rem;
    margin-top: 1%;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.day_rank_friend_container{
    width:20.4rem;
    height: 5.5rem;
    position: relative;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
    background: #FFF2CB;
    margin-top: 3%;
    margin-bottom: 3%;
    box-shadow: 0.01rem 0.01rem 0.5rem 0 rgba(0, 0, 0, 0.2);
}

.day_rank_txt{
    font-size: 3rem;
    font-family: "bc_b";
    margin-left: 5%;
}

.day_rank_friend_img_container{
    width: 4rem;
    height: 4rem;
    border-radius: 50px;
    margin-left: 5%;
    object-fit: cover;
}

.day_rank_friend_name_txt{
    width: 8rem;
    height: fit-content;
    text-align: left;
    font-size: 1.1rem;
    margin-left: 5%;
}

.day_rank_walk_num{
    width: 7rem;
    margin-left: 3%;
    margin-right: 5%;
    height: fit-content;
    font-size: 1.2rem;
}

.day_rank_my_container{
    width: 22.4rem;
    height: 5.5rem;
    border-radius: 0.938rem;
    align-items: center;
    justify-content: center;
    display: flex;
    background: #FFFEFC;
    box-shadow: 0.01rem 0.01rem 0.5rem 0 rgba(0, 0, 0, 0.2);
}

.day_rank_my_txt{
    font-size: 3rem;
    font-family: "bc_b";
    margin-left: 5%;
}

.day_rank_my_img_container{
    width: 4rem;
    height: 4rem;
    border-radius: 50px;
    margin-left: 5%;
    object-fit: cover;
}

.day_rank_my_name_txt{
    width: 8rem;
    height: fit-content;
    text-align: left;
    font-size: 1.1rem;
    margin-left: 5%;
}

.day_rank_my_walk_num{
    width: 7rem;
    margin-left: 3%;
    margin-right: 5%;
    height: fit-content;
    font-size: 1.2rem;
}

.week_rank_container{
    width: 22.4rem;
    height: 35rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2.5%;
}

.rank_week{
    width: 21.4rem;
    height: 4rem;
    margin-top: 2%;
    border-radius: 0.938rem;
    background: #FFDD71;
    border: 2px solid #EACB68;
    font-family: "bc_b";
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.month_rank_container{
    width: 22.4rem;
    height: 35rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2.5%;
}

.rank_month{
    width: 21.4rem;
    height: 4rem;
    margin-top: 2%;
    border-radius: 0.938rem;
    background: #FFDD71;
    border: 2px solid #EACB68;
    font-family: "bc_b";
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.strick_rank_container{
    width: 22.4rem;
    height: 35rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2.5%;
}

.strick_top_rank_container{
    width: 21.4rem;
    height: 12rem;
    margin-top: -20%;
    border-radius: 0.938rem;
    background: #FFF2CB;
    box-shadow: 0.013rem 0.013rem 0.2rem 0 rgba(0, 0, 0, 0.3);

}

.strick_top3_ranks{
    width: 21.4rem;
    height: 12rem;
    border-radius: 0.938rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.strick_first_rank_container{
    width: 7rem;
    height: 12rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "bc_b";
}

.strick_first_rank_title{
    font-size: 1.7rem;
    font-family: "bc_b";
    margin-top: 2%;
}

.strick_first_rank_crown{
    width: auto;
    height: 2rem;
    margin-top: -28%;
}

.strick_first_rank_profile_container{
    width: 6.2rem;
    height: 7rem;
    background: #FFFEFC;   
    border-radius: 0.938rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.strick_first_rank_img{
    width: 4rem;
    height: 4rem;
    border-radius: 20rem;
    margin-top: 25%;
}

.strick_first_rank_name{
    font-family: "bc_b";
    font-size: 1rem;
    margin-top: 5%;
}

.strick_ranks_container{
    width: 22.4rem;
    height: 18rem;
    margin-top: 2%;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.strick_rank_friend_container{
    width:20.4rem;
    height: 5.5rem;
    position: relative;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
    background: #FFF2CB;
    margin-top: 3%;
    margin-bottom: 3%;
    box-shadow: 0.01rem 0.01rem 0.5rem 0 rgba(0, 0, 0, 0.2);
}

.strick_rank_txt{
    font-size: 3rem;
    font-family: "bc_b";
    margin-left: 5%;
}

.strick_rank_friend_img_container{
    width: 4rem;
    height: 4rem;
    border-radius: 50px;
    margin-left: 5%;
    object-fit: cover;
}

.strick_rank_friend_name_txt{
    width: 8rem;
    height: fit-content;
    text-align: left;
    font-size: 1.1rem;
    margin-left: 5%;
}

.strick_rank_walk_num{
    width: 7rem;
    margin-left: 3%;
    margin-right: 5%;
    height: fit-content;
    font-size: 1.2rem;
}

.strick_rank_my_container{
    width:22.4rem;
    height: 5.5rem;
    position: absolute;
    border-radius: 0.938rem;
    align-items: center;
    justify-content: center;
    display: flex;
    background: #FFFEFC;
    margin-top: 120.5%;
    box-shadow: 0.01rem 0.01rem 0.5rem 0 rgba(0, 0, 0, 0.2);
}

.strick_rank_my_txt{
    font-size: 3rem;
    font-family: "bc_b";
    margin-left: 5%;
}

.strick_rank_my_img_container{
    width: 4rem;
    height: 4rem;
    border-radius: 50px;
    margin-left: 5%;
    object-fit: cover;
}

.strick_rank_my_name_txt{
    width: 8rem;
    height: fit-content;
    text-align: left;
    font-size: 1.1rem;
    margin-left: 5%;
}

.strick_rank_my_walk_num{
    width: 7rem;
    margin-left: 3%;
    margin-right: 5%;
    height: fit-content;
    font-size: 1.2rem;
}
