@font-face {
    font-family: "bc_b";
    src: url(/public/fonts/BCcardB.ttf);
}

@font-face {
    font-family: "bc_l";
    src: url(/public/fonts/BCcardL.ttf);
}

.main_container {
    position: relative;
    display: flex;
    flex-direction: column; /* 세로로 배치 */
    align-items: center;
    justify-content: center;
}

.modal_background{
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    max-width: 412px;
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    z-index: 10;
    overflow: hidden;

}

.halli_modal_container{
    width: 22rem;
    height: 25rem;
    top: 50%;
    left: 50%;
    z-index: 11;
    position: absolute;
    border-radius: 30px;
    transform: translate(-50%, -50%);
    background: #FFDD71;

}

.halli_title_container{
    position: relative;
    display: flex;
    top: 10%;
    left: 50%;
    width: 22rem;
    height: 4rem ;
    transform: translate(-50%, -50%);
}

.halli_modal_title{
    width: 13rem;
    font-family: "bc_b";
    font-size: 1.6rem;
    top: 17%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.halli_modal_x{
    position: absolute;
    top: 40%;
    left: 90%;
    transform: translate(-50%, -50%);
    width: auto;
    height: 2rem;
}

.halli_list_container{
    width: 20rem;
    height: 19rem;
    top: 57.5%;
    left: 50%;
    z-index: 11;
    position: absolute;
    border-radius: 30px;
    overflow-y: auto;
    overflow-x: hidden;
    transform: translate(-50%, -50%);
    background: #FFFBF3;
}

.halli_names_container{
    width: 20rem;
    height: 19rem;
    position: relative;
    border-radius: 30px;
    overflow-y: auto;
}

.halli_name_container{
    width: 18.7rem;
    height: 4.5rem;
    margin: 0.7rem;
    position: relative;
    border-radius: 20px;
    align-items: center;
    display: flex;
    background: #FFF2CB;
    box-shadow: 0.01rem 0.01rem 0.5rem 0 rgba(0, 0, 0, 0.2);
}

.halli_img_container{
    width: 3.8rem;
    height: 3.8rem;
    border-radius: 50px;
    margin-left: 2.5%;
    object-fit: cover;
}

.halli_name_txt{
    width: 7rem;
    height: fit-content;
    font-family: "bc_b";
    margin-left: 2%;
    font-size: 1rem;
}

.halli_btn_container{
    width: 8rem;
    height: 4.5rem;
    font-family: "bc_b";
    border-radius: 20px;
    margin-left: 2%;
    margin-right: 3%;
    font-size: 1rem;
    align-items: center;
    display: flex;
}

.halli_ok_btn{
    width: 3.5rem;
    height: 2.5rem;
    border-radius: 10px;
    background: #C2ED7B;
    align-items: center;
    justify-content: center;
    display: flex;
    box-shadow: 0.01rem 0.01rem 0.5rem 0 rgba(0, 0, 0, 0.2);
}

.halli_no_btn{
    width: 3.5rem;
    height: 2.5rem;
    border-radius: 10px;
    background: #E98B8B;
    align-items: center;
    justify-content: center;
    display: flex;
    box-shadow: 0.01rem 0.01rem 0.5rem 0 rgba(0, 0, 0, 0.2);    
    margin-left: 3%;
}

.my_halli_list_modal_container{
    width: 22rem;
    height: 25rem;
    top: 50%;
    left: 50%;
    z-index: 11;
    position: absolute;
    border-radius: 30px;
    transform: translate(-50%, -50%);
    background: #FFDD71;

}

.my_halli_list_title_container{
    position: relative;
    display: flex;
    top: 10%;
    left: 50%;
    width: 22rem;
    height: 4rem ;
    transform: translate(-50%, -50%);
}

.my_halli_list_modal_title{
    width: 13rem;
    font-family: "bc_b";
    font-size: 1.6rem;
    top: 17%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.my_halli_list_modal_x{
    position: absolute;
    top: 40%;
    left: 90%;
    transform: translate(-50%, -50%);
    width: auto;
    height: 2rem;
}

.my_halli_list_list_container{
    width: 20rem;
    height: 19rem;
    top: 57.5%;
    left: 50%;
    z-index: 11;
    position: absolute;
    border-radius: 30px;
    transform: translate(-50%, -50%);
    background: #FFFBF3;
}

.my_halli_list_names_container{
    width: 20rem;
    height: 19rem;
    position: relative;
    border-radius: 30px;
    overflow-x: hidden;
    overflow-y: auto;
}

.my_halli_list_name_container{
    width: 18.7rem;
    height: 4.5rem;
    margin: 0.7rem;
    position: relative;
    border-radius: 20px;
    align-items: center;
    display: flex;
    background: #FFF2CB;
    box-shadow: 0.01rem 0.01rem 0.5rem 0 rgba(0, 0, 0, 0.2);
}

.my_halli_list_img_container{
    width: 3.8rem;
    height: 3.8rem;
    border-radius: 50px;
    margin-left: 2.5%;
    object-fit: cover;
}

.my_halli_list_name_txt{
    width: 7rem;
    height: fit-content;
    font-family: "bc_b";
    margin-left: 2%;
    font-size: 1rem;
}

.my_halli_list_btn_container{
    width: 2rem;
    height: 4.5rem;
    font-family: "bc_b";
    border-radius: 20px;
    margin-left: 27%;
    margin-right: 3%;
    font-size: 1rem;
    align-items: center;
    display: flex;
}

.direct_btn{
    height: 1.8rem;
    width: auto;
}

.galli_modal_container{
    width: 22rem;
    height: 25rem;
    top: 50%;
    left: 50%;
    z-index: 11;
    position: absolute;
    border-radius: 30px;
    transform: translate(-50%, -50%);
    background: #FFDD71;

}

.galli_title_container{
    position: relative;
    display: flex;
    top: 10%;
    left: 50%;
    width: 22rem;
    height: 4rem ;
    transform: translate(-50%, -50%);
}

.galli_modal_title{
    width: 13rem;
    font-family: "bc_b";
    font-size: 1.6rem;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.galli_modal_x{
    position: absolute;
    top: 40%;
    left: 90%;
    transform: translate(-50%, -50%);
    width: auto;
    height: 2rem;
}

.galli_search_container{
    width: 20rem;
    height: 5rem;
    top: 25%;
    left: 50%;
    z-index: 11;
    position: absolute;
    border-radius: 30px;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
}

.galli_search_box{
    width: 13.7rem;
    height: 1.9rem;
    border-radius: 18px;
    border: none;
    outline: none;
    background: #FFFBF3;
    font-family: "bc_b";
    font-size: 1.5rem;
    margin-left: 2.5%;
    padding: 0.8rem;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
}

.galli_search_icon{
    height: 3rem;
    width: auto;
    margin-left: 3%;
}

.galli_list_container{
    width: 20rem;
    height: 15rem;
    top: 65.6%;
    left: 50%;
    z-index: 11;
    position: absolute;
    border-radius: 30px;
    transform: translate(-50%, -50%);
    background: #FFFBF3;
}

.galli_names_container{
    width: 20rem;
    height: 14.9rem;
    position: relative;
    border-radius: 30px;
    overflow-y: auto;
}

.galli_name_container{
    width: 18.7rem;
    height: 4.5rem;
    margin: 0.7rem;
    position: relative;
    border-radius: 20px;
    align-items: center;
    display: flex;
    background: #FFF2CB;
    box-shadow: 0.01rem 0.01rem 0.5rem 0 rgba(0, 0, 0, 0.2);
}

.galli_img_container{
    width: 3.8rem;
    height: 3.8rem;
    border-radius: 50px;
    margin-left: 2.5%;
    object-fit: cover;
}

.galli_name_txt{
    width: 7rem;
    height: fit-content;
    font-family: "bc_b";
    margin-left: 2%;
    font-size: 1rem;
}

.galli_btn_container{
    width: 4rem;
    height: 4.5rem;
    font-family: "bc_b";
    border-radius: 20px;
    margin-left: 18%;
    margin-right: 3%;
    font-size: 1rem;
    align-items: center;
    display: flex;
}

.galli_put_btn{
    width: 3.5rem;
    height: 2.5rem;
    border-radius: 10px;
    background: #FFCB23;
    align-items: center;
    justify-content: center;
    display: flex;
    box-shadow: 0.01rem 0.01rem 0.5rem 0 rgba(0, 0, 0, 0.2);
}

.galli_delete_btn{
    width: 3.5rem;
    height: 2.5rem;
    border-radius: 10px;
    background: #E98B8B;
    align-items: center;
    justify-content: center;
    display: flex;
    box-shadow: 0.01rem 0.01rem 0.5rem 0 rgba(0, 0, 0, 0.2);    margin-left: 3%;
}


.btn_txt{
    font-family: "bc_b";
    font-size: 1.1rem;
}


/* .tab_container{
    height: 18.75rem;
    width: 22.5rem;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
} */

.mode_choose{
    width: 5rem;
    height: 3.125rem;
    background: #FFFEFC;
    border-top-left-radius: 0.938rem;
    border-top-right-radius: 0.938rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: -0.113rem -0.225rem 0.2rem rgba(0, 0, 0, 0.1);
}


.mode_tabs{
    display: flex;
    width: 22.5rem;
    height: 3.125rem;
}

.mode_my{
    width: 5rem;
    height: 3.125rem;
    background: #E4DDC6;
    border-top-left-radius: 0.938rem;
    border-top-right-radius: 0.938rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: -0.113rem -0.225rem 0.2rem rgba(0, 0, 0, 0.1);
}

.mode_my_txt{
    font-size: 1.3rem;
    font-family: "bc_b";
}

.my_content{
    width: 22.5rem;
    height: 18rem;
    border-top-right-radius: 0.938rem;
    border-bottom-left-radius: 0.938rem;
    border-bottom-right-radius: 0.938rem;
    background: #FFFEFC;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    box-shadow: 0.113rem 0.225rem 0.5rem 0 rgba(0, 0, 0, 0.3);
}

.my_progress_container{
    /* position: absolute;
    top: 28%; */
    justify-content: center;
    align-items: center;
    text-align: center;
}

.my_time_progress_container{
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 20.5rem;
    height: 3.125rem;
}

.my_time_progress_base{
    width: 20rem;
    height: 1.8rem;
    background: #E4DDC6;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 0.938rem;
}

.my_time_progress_move{
    height: 1.8rem;
    background: #FFCB23;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0.938rem;
}

.my_time_ori_container{
    height: 1.8rem;
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    border-radius: 0.938rem;
}

.my_time_mine{
    position: absolute;
    top: -60%;
    right: 1.5rem;
    font-size: 1.2rem;
    font-family: "bc_b";
    color: white;
    text-shadow: 0px 0px 1px black, 0px 0px 1px black, 0px 0px 1px black, 0px 0px 1px black;
}

.ch1{
    width: auto;
    position: absolute;
    height: 6rem;
    top: -140%;
}

.my_time_number_base{
    width: 20rem;
    height: 1.8rem;
    position: absolute;
    display: flex;
    top: 111%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.my_time_min{
    position: absolute;
    font-size: 1rem;
    font-family: "bc_b";
    top: 0;
    left: 1%;
}

.my_time_min2{
    position: absolute;
    font-size: 1rem;
    font-family: "bc_b";
    top: 0;
    right: 0;
}

.my_walk_time{
    justify-content: center;
    align-items: center;
    text-align: center;
}

.time_txt{
    margin-top: -1%;
    margin-left: -37%;
    font-family: "bc_b";
    font-size: 1.4rem;
}

.my_walk_foot{
    justify-content: center;
    align-items: center;
    text-align: center;
}

.foot_txt{
    margin-left: -32%;
    font-family: "bc_b";
    font-size: 1.4rem;
}

.my_walk_progress_container{
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 20.5rem;
    height: 3.125rem;
}

.my_walk_progress_base{
    width: 20rem;
    height: 1.8rem;
    background: #E4DDC6;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 0.938rem;
}

/* 채워지는 프로그래스 바 */
.my_walk_progress_move{
    height: 1.8rem;
    background: #FFCB23;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0.938rem;
}

.my_walk_ori_container{
    height: 1.8rem;
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    border-radius: 0.938rem;
}

.my_walk_mine{
    position: absolute;
    top: -60%;
    right: 1.5rem;
    font-size: 1.2rem;
    font-family: "bc_b";
    color: white;
    text-shadow: 0px 0px 1px black, 0px 0px 1px black, 0px 0px 1px black, 0px 0px 1px black;
}

.ch1_2{
    width: auto;
    position: absolute;
    height: 6rem;
    top: -140%;
    right: -1.8rem;
}

.my_walk_number_base{
    width: 20rem;
    height: 1.8rem;
    position: absolute;
    display: flex;
    top: 111%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.my_walk_min{
    position: absolute;
    font-size: 1rem;
    font-family: "bc_b";
    top: 0;
    left: 1%;
}

.my_walk_min2{
    position: absolute;
    font-size: 1rem;
    font-family: "bc_b";
    top: 0;
    right: 0;
}

.mode_halli{
    width: 5rem;
    height: 3.125rem;
    background: #E4DDC6;
    border-top-left-radius: 0.938rem;
    border-top-right-radius: 0.938rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: -0.113rem -0.225rem 0.2rem rgba(0, 0, 0, 0.1);
}

.mode_halli_txt{
    font-size: 1.3rem;
    font-family: "bc_b";
}

.halli_content{
    width: 22.5rem;
    height: 18rem;
    border-top-right-radius: 0.938rem;
    border-bottom-left-radius: 0.938rem;
    border-bottom-right-radius: 0.938rem;
    background: #FFFEFC;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0.113rem 0.225rem 0.5rem 0 rgba(0, 0, 0, 0.3);

}

.halli_container{
    width: 22.5rem;
    height: 12rem;
    position: relative;
    display: flex;
    top: 5%; 
    align-items: center;
}
.halli_box{
    display: flex;
}
.halli_detail{
    position: absolute;
    left: 6%;
    top: -10%;
    font-family: "bc_b";
    font-size: 1.4rem;
}

.halli_add{
    position: absolute;
    width: 4.5rem;
    height: 2.5rem;
    right: 5%;
    top: 0%;
    background-color: #FFCB23;
    border-radius: 1rem;
}
.halli_add p{
    margin: 0.5rem 0;
}

.my_halli_list_container{
    width: 21rem;
    height: 13.4rem;
    position: absolute;
    top: 25%;
    left: 3.4%;
    border-radius: 0.938rem;
    background: #FFF7DE;
    box-shadow: 0.01rem 0.01rem 0.5rem 0 rgba(0, 0, 0, 0.2);
}

.halli_goal_title{
    font-family: "bc_b";
    font-size: 1.2rem;
    margin-left: -55%;
    margin-top: 3%;
}


.halli_time_progress_container{
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 20.5rem;
    height: 3.125rem;
    margin-top: 30%;
}

.halli_time_progress_base{
    width: 18.75rem;
    height: 1.8rem;
    background: #E4DDC6;
    position: absolute;
    top: 20%;
    left: 50.5%;
    transform: translate(-50%, -50%);
    border-radius: 0.938rem;
}

.halli_mission_container{
    position: absolute;
    width: 4rem;
    height: 4rem;
    bottom: 2.5rem;
    border-radius: 3rem;
    background-repeat: no-repeat;
    z-index: 5;
    background-size: contain;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.halli_mission_profile{
    background: white;
    border-radius: 3rem;
    width: 2.5rem;
    height: 2.5rem;
    margin: 0.4rem 0 1rem -0.6rem;
}
.halli_mission_profile img{
    width: 2.1rem;
    height: 2.1rem;
    border-radius: 3rem;
    margin-top: 0.2rem;
}
.halli_mission_container h4{
    margin: 2.9rem 0.5rem 0 0;
    font-size: 1rem;
    font-family: "bc_b";
}

.halli_time_progress_move{
    height: 1.8rem;
    background: #FFCB23;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0.938rem;
}

.halli_time_ori_container{
    height: 1.8rem;
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    border-radius: 0.938rem;
}

.halli_time_mine{
    position: absolute;
    top: -60%;
    right: 1.5rem;
    font-size: 1.2rem;
    font-family: "bc_b";
    color: white;
    text-shadow: 0px 0px 1px black, 0px 0px 1px black, 0px 0px 1px black, 0px 0px 1px black;
}

.halli_time_number_base{
    width: 20rem;
    height: 1.8rem;
    position: absolute;
    display: flex;
    top: 111%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.halli_time_min{
    position: absolute;
    font-size: 1rem;
    font-family: "bc_b";
    top: 0;
    left: 1%;
}

.halli_time_min2{
    position: absolute;
    font-size: 1rem;
    font-family: "bc_b";
    top: 0;
    right: 0;
}

/* 오리 이미지 */
.ch1_2{
    width: auto;
    position: absolute;
    height: 6rem;
    top: -140%;
}

.no_halli_content{
    width: 22.5rem;
    height: 18rem;
    border-top-right-radius: 0.938rem;
    border-bottom-left-radius: 0.938rem;
    border-bottom-right-radius: 0.938rem;
    background: #FFFEFC;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0.113rem 0.225rem 0.5rem 0 rgba(0, 0, 0, 0.3);

}

.no_halli_container{
    width: 22.5rem;
    height: 12rem;
    position: relative;
    display: flex;
    top: 5%;
}

.no_halli_detail{
    position: absolute;
    left: 8%;
    font-family: "bc_b";
    font-size: 2.2rem;
    line-height: 2.5rem
}

.no_halli_img{
    position: absolute;
    height: 13rem;
    width: auto;
    top: -15%;
    left: 53%;
}

.no_halli_btn{
    width: 15rem;
    height: 3.8rem;
    background: #FFCB23;
    border-radius: 1.5rem;

    display: flex;
    align-items: center;
    box-shadow: 0.113rem 0.225rem 0.5rem 0 rgba(0, 0, 0, 0.3);
}

.no_halli_btn_txt{
    font-family: "bc_b";
    font-size: 1.5rem;
    width: 15rem;
}

.mode_galli{
    width: 5rem;
    height: 3.125rem;
    background: #E4DDC6;
    border-top-left-radius: 0.938rem;
    border-top-right-radius: 0.938rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: -0.113rem -0.225rem 0.2rem rgba(0, 0, 0, 0.1);
}

.mode_galli_txt{
    font-size: 1.3rem;
    font-family: "bc_b";
}

.galli_content{
    width: 22.5rem;
    height: 18rem;
    border-top-right-radius: 0.938rem;
    border-bottom-left-radius: 0.938rem;
    border-bottom-right-radius: 0.938rem;
    background: #FFFEFC;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0.113rem 0.225rem 0.5rem 0 rgba(0, 0, 0, 0.3);

}

.galli_expanded{
    width: 22.5rem;
    height: 60rem;
    display: flex;
    align-items: center;
    border-top-right-radius: 0.938rem;
    border-bottom-left-radius: 0.938rem;
    border-bottom-right-radius: 0.938rem;
    top: 5%;
    flex-direction: column; /* 세로로 배치 */
    background-color: white;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1); /* 하단 그림자 추가 */;
}

.galli_container{
    width: 22.5rem;
    position: relative;
    display: flex;
    align-items: center;
    top: 5%;
    z-index: 5;
    flex-direction: column; /* 세로로 배치 */
}

.galli_list_title_container{
    display: flex;
    width: 22.5rem;
    height: 2.7rem;
    align-items: center;
    margin-top: -0.4%;
}

.galli_detail{
    margin-left: 6%;
    font-family: "bc_b";
    font-size: 1.4rem;
}

.galli_direct_btn{
    width: auto;
    margin-left: 40%;
    height: 1.8rem;
    transform: rotate(90deg);
}

.galli_direct_btn2{
    width: auto;
    margin-left: 40%;
    height: 1.8rem;
    transform: rotate(270deg);
}

.my_galli_list_container{
    width: 21rem;
    height: 12.4rem;
    margin-top: 5%;
    border-radius: 0.938rem;
    background: #FFF7DE;
    box-shadow: 0.01rem 0.01rem 0.5rem 0 rgba(0, 0, 0, 0.2);
}

.galli_goal_title{
    font-family: "bc_b";
    font-size: 1.5rem;
    margin-top: 3%;
}

.galli_time_progress_container{
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 20.5rem;
    height: 6.125rem;
    margin-top: 10%;
}

.galli_time_progress_base{
    width: 18.75rem;
    height: 1.8rem;
    background: #E4DDC6;
    position: absolute;
    top: 20%;
    left: 50.5%;
    transform: translate(-50%, -50%);
    border-radius: 0.938rem;
}

.galli_time_progress_move{
    height: 1.8rem;
    background: #FFCB23;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0.938rem;
}

.galli_time_ori_container{
    height: 1.8rem;
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    border-radius: 0.938rem;
}

.galli_time_mine{
    position: absolute;
    top: -60%;
    right: 1.5rem;
    font-size: 1.2rem;
    font-family: "bc_b";
    color: white;
    text-shadow: 0px 0px 1px black, 0px 0px 1px black, 0px 0px 1px black, 0px 0px 1px black;
}

.galli_time_number_base{
    width: 20rem;
    height: 1.8rem;
    position: absolute;
    display: flex;
    top: 111%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.galli_time_min{
    position: absolute;
    font-size: 1rem;
    font-family: "bc_b";
    top: 0;
    left: 1%;
}

.galli_time_min2{
    position: absolute;
    font-size: 1rem;
    font-family: "bc_b";
    top: 0;
    right: 0;
}

.galli_btn{
    background: #FFCB23;
    margin-top: 5%;
    margin-bottom: 5%;
    width:12rem;
    height:8rem;
    border-radius: 0.938rem;
    box-shadow: 0.113rem 0.225rem 0.5rem 0 rgba(0, 0, 0, 0.3);
}

.galli_btn_txt{
    line-height: 3rem;
    font-family: "bc_b";
    font-size: 1.2rem;
    border-radius: 0.938rem;
}

.no_galli_content{
    width: 22.5rem;
    height: 18rem;
    border-top-right-radius: 0.938rem;
    border-bottom-left-radius: 0.938rem;
    border-bottom-right-radius: 0.938rem;
    background: #FFFEFC;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: 0.113rem 0.225rem 0.5rem 0 rgba(0, 0, 0, 0.3);

}

.no_galli_container{
    width: 22.5rem;
    height: 12rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 5%;
}

.no_galli_detail{
    position: absolute;
    left: 8%;
    font-family: "bc_b";
    font-size: 2.2rem;
    line-height: 2.5rem
}

.no_galli_img{
    position: absolute;
    height: 13rem;
    width: auto;
    top: -15%;
    left: 53%;
}

.no_galli_btn{
    width: 15rem;
    height: 3.8rem;
    background: #FFCB23;
    border-radius: 1.5rem;
    display: flex;
    align-items: center;
    box-shadow: 0.113rem 0.225rem 0.5rem 0 rgba(0, 0, 0, 0.3);
}

.no_galli_btn_txt{
    font-family: "bc_b";
    font-size: 1.5rem;
    width: 15rem;
}


.week_graph_container{
    height: 23.75rem;
    width: 22.5rem;
    margin-top: 4%;
    /* top: 68.5%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%); */
}

.week_content_container{
    width: 22.5rem;
    height: 25rem;
    border-top-right-radius: 0.938rem;
    border-bottom-left-radius: 0.938rem;
    border-bottom-right-radius: 0.938rem;
    border-top-left-radius: 0.938rem;
    background: #FFDD71;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    position: relative;
    box-shadow: 0.113rem 0.225rem 0.5rem 0 rgba(0, 0, 0, 0.3);
}

.week_title{
    position: absolute;
    top: 0%;
    left: 7%;
    font-family: "bc_b";
    font-size: 1.4rem;
}

.week_detail{
    position: absolute;
    top: 12%;
    left: 7%;
    font-family: "bc_b";
    font-size: 1.1rem;
}

.avg_container{
    position: relative;
    top: -18%;
    width: 22.5rem;
    height: 4rem;
    display: flex;
}

.week_avg_number{
    position: absolute;
    font-family: "bc_b";
    top: -30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    text-shadow: 0px 0px 2px white, 0px 0px 2px white, 0px 0px 2px white, 0px 0px 2px white;
}

.week_avg_walk{
    position: absolute;
    top: 29%;
    left: 81%;
    font-family: "bc_b";
    font-size: 1.1rem;
}

.graph_container{
    height: 16.75rem;
    width: 22.5rem;
    position: absolute;
    top: 46.5%;
    display: flex;
}

.graph_back{
    height: 13rem;
    width: 20.5rem;
    position: absolute;
    top: -4%;
    left: 4.5%;
    border-radius: 0.938rem;
    background: #FFFBEE;
}

.graph_style{
    position: absolute;
    top: -5%;
    left: 5%;
    width: 20rem;
    height: 13rem;
}

.first_visit_container {
    position: absolute;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    max-width: 412px;
    top: 0;
    background: rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.first_visit_modal_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 40%;
    background-color: #FFFFFF;
    border-radius: 1rem;
}

.first_visit_lottie {
    position: absolute;
    z-index: 20;
    pointer-events: none;
}

.first_visit_btn_container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 5%;
}

.first_visit_yes_btn {
    width: 30%;
    background-color: #FFCB23;
    margin: 0.5rem;
    padding: 0.5rem;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
    font-size: 1.2rem;
    box-shadow: 0.01rem 0.01rem 0.5rem 0 rgba(0, 0, 0, 0.2);
}

.first_visit_no_btn {
    width: 30%;
    background-color: transparent;
    margin: 0.5rem;
    padding: 0.5rem;
    border: 2px solid #FFCB23;
    border-radius: 2rem;
    cursor: pointer;
    font-size: 1.2rem;
    box-shadow: 0.01rem 0.01rem 0.5rem 0 rgba(0, 0, 0, 0.2);
}

.main_default{
    text-align: center;
}

.main_default_img1{
    width: 8rem;
    transform: scaleX(-1)
}

.main_default_img2{
    width: 5rem;
}