@font-face {
    font-family: "bc_b";
    src: url(/public/fonts/BCcardB.ttf);
}

@font-face {
    font-family: "bc_l";
    src: url(/public/fonts/BCcardL.ttf);
}

.main_container {
    position: relative;
    display: flex;
    flex-direction: column; /* 세로로 배치 */
    align-items: center;
    height: 100%;
    width: 100%;
    max-width: 412px;
}

.title_container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 4rem;
}

.back_btn{
    position: absolute;
    left: 0.5rem;
    transform: rotate(180deg);
    width: 1.5rem;
}

.title_txt{
    font-family: "bc_b";
    font-size: 1.5rem;
}

.egg_container{
    width: 22.4rem;
    height: 11rem;
    margin-top: 0%;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.egg_txt{
    width: 100%;
    text-align: left;
    font-size: 1.7rem;
    color: black;
    font-family: "bc_b";
}

.egg_num_container{
    background: #FFF2CB;
    width: 100%;
    height: 5.5rem;
    margin-top: -5%;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0.113rem 0.225rem 0.5rem 0 rgba(0, 0, 0, 0.3);
}

.egg{
    height: 2.5rem;
    width: auto;
}

.egg_num_txt{
    font-size: 1.5rem;
    width: fit-content;
    margin-left: 3%;
}


.item_container{
    width: 22.4rem;
    height: 15rem;
    margin-top: 5%;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item_txt{
    width: 100%;
    text-align: left;
    font-size: 1.7rem;
    color: black;
    font-family: "bc_b";
}

.item_type_container{
    width: 8rem;
    height: 8rem;
    margin-top: -5%;
    margin-left: -63%;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0.113rem 0.225rem 0.5rem 0 rgba(0, 0, 0, 0.3);
}

.item{
    height: 3rem;
    width: auto;
}

.item_detail{
    height: 3rem;
    width: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: -63%;
}

.item_name{
    font-size: 1.1rem;
}

.item_egg_num_container{
    width: 8rem;
    height: 2rem;
    margin-top: -12%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item_egg{
    height: 1.5rem;
    width: auto;
}

.item_egg_num_txt{
    font-size: 1.2rem;
    width: fit-content;
    margin-left: 5%;
}
