@font-face {
    font-family: "bc_b";
    src: url(/public/fonts/BCcardB.ttf);
}

@font-face {
    font-family: "bc_l";
    src: url(/public/fonts/BCcardL.ttf);
}

.main_container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}

.title_container{
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    position: fixed;
    background-color: white;
}

.back_btn{
    height: 2.1rem;
    margin-left: 3%;
    width: auto;
    transform: rotate(180deg);
}

.title_txt{
    font-family: "bc_b";
    font-size: 1.5rem;
    margin-left: 33%;
}

.alarm_list_container{
    background: #FFF2CB;
    margin-top: 19.5%;
    width: 22.4rem;
    height: 49.5rem;
    border-radius: 1.5rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    overflow-y: auto;
}


.alarm_container{
    width: 22rem;
    height: 6rem;
    margin: 0.7rem;
    position: relative;
    border-radius: 20px;
    align-items: center;
    display: flex;
    cursor: pointer;
    background: #FFFEFC;
    box-shadow: 0.01rem 0.01rem 0.5rem 0 rgba(0, 0, 0, 0.2);
}

.select_alarm_container{
    width: 22rem;
    height: 6rem;
    margin: 0.7rem;
    position: relative;
    border-radius: 20px;
    align-items: center;
    display: flex;
    cursor: pointer;
    filter: brightness(0.8);
    background: #FFFEFC;
    box-shadow: 0.01rem 0.01rem 0.5rem 0 rgba(0, 0, 0, 0.2);
}

.alarm_img_container{
    width: 3.5rem;
    height: auto;
    border-radius: 50px;
    margin-left: 2.5%;
    cursor: pointer;
    transition: 0.5s all;
}

.alarm_txt{
    width: 16.2rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center; 
    font-family: "bc_b";
    margin-left: 2.5%;
    text-align: left;
    font-size: 1.1rem;
}

.alarm_container:hover {
    filter: brightness(0.8);
}

.modal_background{
    width: 100%;
    height: 100%;
    max-width: 412px;
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    z-index: 10;
    top: 0;

}

.alarm_modal_container{
    width: 22rem;
    height: 25rem;
    top: 50%;
    left: 50%;
    z-index: 11;
    position: absolute;
    border-radius: 30px;
    transform: translate(-50%, -50%);
    background: #FFDD71;

}

.alarm_title_container{
    position: relative;
    display: flex;
    top: 10%;
    left: 50%;
    width: 22rem;
    height: 4rem ;
    transform: translate(-50%, -50%);
}

.alarm_modal_title{
    width: 13rem;
    font-family: "bc_b";
    font-size: 1.6rem;
    top: 17%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.alarm_modal_x{
    position: absolute;
    top: 40%;
    left: 90%;
    transform: translate(-50%, -50%);
    width: auto;
    height: 2rem;
}

.alarm_content{
    width: 20rem;
    height: 19rem;
    top: 57.5%;
    left: 50%;
    z-index: 11;
    position: absolute;
    border-radius: 30px;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translate(-50%, -50%);
    background: #FFFBF3;
}

.alarm_img{
    height: 5rem;
    width: auto;
    margin-top: 5%;
}

.alarm_detail{
    width: 18rem;
    height: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "bc_b";
    font-size: 1.7rem;
}