@font-face {
    font-family: "bc_b";
    src: url(/public/fonts/BCcardB.ttf);
}

@font-face {
    font-family: "bc_l";
    src: url(/public/fonts/BCcardL.ttf);
}

.main_container {
    position: relative;
    display: flex;
    flex-direction: column; /* 세로로 배치 */
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.title_container{
    width: 100%;
    height: 4rem;
    display: flex;
    align-items: center;
    position: fixed;
    justify-content: center;
    margin-top: -200%;
}

.back_btn{
    position: absolute;
    left: 3%;
    top: 19%;
    height: 2.1rem;
    width: auto;
    transform: rotate(180deg);
}

.title_txt{
    font-family: "bc_b";
    font-size: 1.5rem;
}