@font-face {
  font-family: "noto_m";
  src: url(/fonts/NotoSansKR-Medium.ttf);
}

@font-face {
  font-family: "roboto_m";
  src: url(/fonts/Roboto-Medium.ttf);
}

.login_container {
  display: flex;
  flex-direction: column;
}

.login_app_name {
  font-family: "bc_b";
  font-size: 5rem;
}

.google_login_btn {
  margin: 2rem 0 2rem 0;
}