.login_redirect_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  transform: translateY(-3rem);
}

.login_loading_img {
  width: 80dvw;
  height: auto;
  max-width: 32rem;
  transform: translateX(-1.5rem);
}

.login_loading_txt {
  font-family: "bc_b";
  font-size: xx-large;
  transform: translateY(-3rem);
}