/* Login.css */
.login_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100dvh;
}

.login_app_name {
  font-size: 4.5rem;
}

.google_login_btn {
  width: 75%;
  margin: 2rem 0 2rem 0;
}

/* LoginRedirect.css */
.login_redirect_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100dvh;
  transform: translateY(-3rem);
}

.login_loading_img {
  width: 80dvw;
  height: auto;
  max-width: 32rem;
  transform: translateX(-1.5rem);
}

.login_loading_txt {
  font-family: "bc_b";
  font-size: xx-large;
  transform: translateY(-3rem);
}

/* SignUp.css */
.signup_container {
  display: flex;
  flex-direction: column;
  width: 90dvw;
  transition: all 0.5s ease;
  margin: 1.5rem auto;
}

.signup_title {
  display: flex;
  font-size: 1.2rem;
  margin: 0.5rem 0;
}

.signup_input {
  display: block;
  width: 100%;
  box-sizing: border-box;
  appearance: none;
  padding: 1rem;
  margin: 0.5rem 0;
  border: 1px solid #ccc;
  border-radius: 0.8rem;
}

.signup_btn {
  background-color: #FFCB23;
  padding: 1rem;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
  margin: 1rem 0;
  font-size: 1.2rem;
  box-shadow: 0.01rem 0.01rem 0.5rem 0 rgba(0, 0, 0, 0.2);
}

.signup_btn:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.signup_error {
  display: flex;
  font-size: 0.8rem;
  margin: 0.5rem;
}

.signup_2col {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
}