.nav_container{
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 4;
    width: 100%;
    max-width: 412px;
    height: 4rem;
    align-items: center;
    justify-content: center;
    background: white;
    box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.1); /* 하단 그림자 추가 */;
}


.rank_item{
    width: auto;
    height: 2.3rem;
    z-index: 5; 
    margin-right: 5%;
    margin-left: 5%;
}

.run_item{
    width: auto;
    height: 2.3rem;
    z-index: 5; 
    margin-right: 5%;
    margin-left: 5%;
}

.home_item{
    width: auto;
    height: 2.2rem;
    z-index: 5; 
    margin-right: 5%;
    margin-left: 5%;
}

.friend_item{
    width: auto;
    margin-top: 1%;
    height: 2.6rem;
    z-index: 5;
    margin-right: 5%;
    margin-left: 5%;
}

.my_item{
    width: auto;
    height: 2.2rem;
    z-index: 5; 
    margin-right: 5%;
    margin-left: 5%;
}
