@font-face {
    font-family: "bc_b";
    src: url(/public/fonts/BCcardB.ttf);
}

@font-face {
    font-family: "bc_l";
    src: url(/public/fonts/BCcardL.ttf);
}

.main_container {
    position: relative;
    display: flex;
    flex-direction: column; /* 세로로 배치 */
    align-items: center;
    height: 100%;
    width: 100%;
}

.title_container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 4rem;
}

.back_btn{
    position: absolute;
    left: 0.5rem;
    transform: rotate(180deg);
    width: 1.5rem;
}

.title_txt{
    font-family: "bc_b";
    font-size: 1.5rem;
}

.voice_list_container{
    margin-top: -2%;
    width: 22.4rem;
    height: 49.5rem;
    border-radius: 1.5rem;
    padding: 1rem;
    align-items: center;
    overflow-x: hidden;
    overflow-y: auto;
}

.voice_container{
    width: 22rem;
    height: 6rem;
    margin: 1rem auto;
    border-radius: 20px;
    align-items: center;
    display: flex;
    cursor: pointer;
    background: #FFFEFC;
    position: relative;
    box-shadow: 0.113rem 0.225rem 0.5rem 0 rgba(0, 0, 0, 0.3);
}

.select_voice_container{
    width: 22rem;
    height: 6rem;
    margin: 0.7rem auto;
    border-radius: 20px;
    align-items: center;
    display: flex;
    cursor: pointer;
    position: relative;
    background: #FFDC6A;
    box-shadow: 0.113rem 0.225rem 0.5rem 0 rgba(0, 0, 0, 0.3);
}

.voice_date{
    margin-left: 4%;
    font-size: 1.2rem;
}

.voice_sendname{
    margin-left: 4%;
    font-size: 1.2rem;

}

.voice_play{
    height: 3rem;
    width: auto;
    position: absolute; 
    right: 3%;
}

.modal_background{
    width: 100%;
    height: 100vh;
    max-width: 412px;
    max-height: 100vh;
    position: fixed;
    background: rgba(0, 0, 0, 0.6);
    z-index: 10;
    top: 0;

}

.voice_modal_container{
    width: 22rem;
    height: 20rem;
    top: 50%;
    left: 50%;
    z-index: 11;
    position: absolute;
    border-radius: 30px;
    transform: translate(-50%, -50%);
    background: #FFDD71;

}

.voice_title_container{
    position: relative;
    display: flex;
    width: 22rem;
    height: 10rem ;
    text-align: center;
}

.voice_modal_title{
    width: 18rem;
    font-family: "bc_b";
    font-size: 1.6rem;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.voice_modal_x{
    position: absolute;
    top: 20%;
    left: 90%;
    transform: translate(-50%, -50%);
    width: auto;
    height: 2rem;
}

.voice_content{
    width: 20rem;
    height: 10rem;
    top: 69.5%;
    left: 50%;
    z-index: 11;
    position: absolute;
    border-radius: 30px;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translate(-50%, -50%);
    background: #FFFBF3;
}

.voice_img{
    height: 5rem;
    width: auto;
    margin-top: 5%;
}
