@font-face {
    font-family: "bc_b";
    src: url(/public/fonts/BCcardB.ttf);
}

@font-face {
    font-family: "bc_l";
    src: url(/public/fonts/BCcardL.ttf);
}

.main_container {
    position: relative;
    display: flex;
    flex-direction: column; /* 세로로 배치 */
    align-items: center;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.title_container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 4rem;
}

.back_btn{
    position: absolute;
    left: 0.5rem;
    transform: rotate(180deg);
    width: 1.5rem;
}

.title_txt{
    font-family: "bc_b";
    font-size: 1.5rem;
}
.voice_btn_container{
    width: 100%;
    height: 100%;
    background: #EDDEC3;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.egg_container{
    width: 22.4rem;
    height: 14rem;
    margin-top: 28%;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #FFF9EF;
    text-align: center;
    box-shadow: 0.113rem 0.225rem 0.5rem 0 rgba(0, 0, 0, 0.3);
}

.mike{
    margin-top: -7%;
    height: 4rem;
    width: auto;
}

.item_container{
    width: 22.4rem;
    height: 14rem;
    margin-top: 10%;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    background: #FFDB6A;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: 0.113rem 0.225rem 0.5rem 0 rgba(0, 0, 0, 0.3);
}

.file{
    margin-top: -4.5%;
    height: 4rem;
    width: auto;
}

.btn_txt{
    font-size: 2.2rem;
}

.back{
    width: 100%;
    max-width: 412px;
    height: 8rem;
    display: flex;
    position: absolute;
    bottom: -50px;
}


.walk_ori{
    position: absolute;
    margin-top: -4.3rem;
    height: 6rem;
    margin-left: 5%;
    width: auto;
}

.ground{
    width: 100%;
    height: 5rem;
}