.chat {
  position: relative;
  display: flex;
  flex-direction: column; /* 세로로 배치 */
  align-items: center;
  justify-content: center;
  padding-left: 1.5rem;
  padding-top: 5.5rem;
  height: 75vh;
  width: 22.5rem;
  background: #fff;
}

.chat-box {
  justify-content: center;
  width: 22.5rem;
  height: 35rem;
  border-radius: 8px;
  box-shadow: 0px 14px 24px rgba(0, 0, 0, 0.13);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background: #FFDD71;
}
.chat-counterpart{
  justify-content: start;
  width: 500px;
  height: 600px;
  border-radius: 8px;
  box-shadow: 0px 14px 24px rgba(0, 0, 0, 0.13);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background: #FFDD71;
}


.goBottomChat {
    position: absolute;
    width: 2.5rem; /* 10 / 4 */
    height: 2.5rem; /* 10 / 4 */
    background-color: rgba(255, 255, 255, 0.8); /* bg-white bg-opacity-80 */
    bottom: 6rem; /* bottom-24 */
    right: 10rem; /* right-40 */
    border-radius: 50%; /* rounded-full */
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.06); /* shadow-md */
}

.goBottomChat:hover {
  background-color: rgba(255, 255, 255, 1); /* hover:bg-opacity-100 */
}


.messages-list {
  padding: 20px;
  flex-grow: 1;
  overflow-y: auto;
}

.user-message,
.ai-message {
  margin-bottom: 20px;
  max-width: 80%;
}

.user-message {  
  background-color: #FFDD71;
  color: #333;
  padding: 10px 15px;
  border-radius: 16px 16px 0 16px;
}


.other-message {
  align-self: flex-end;
  background: #FFF2CB;
  color: #333;
  padding: 10px 15px;
  border-radius: 16px 16px 16px 0;
}

.message-form {
  top: -4%;
  border-top: 1px solid #f0f0f0;
  padding: 20px;
  display: flex;
  align-items: center;
}

.message-input {
  flex-grow: 1;
  padding: 1rem;
  border-radius: 16px;
  border: 1px solid #ccc;
  margin-right: 10px;
}

.send-button {
  padding: 10px 20px;
  border-radius: 16px;
  border: none;
  background-color: #FFF2CB;
  color: #333;
  cursor: pointer;
}

h1 {
  text-align: center;
  background-color: #f5f5f5;
  padding: 10px;
  margin: 0;
}

