#root {
  max-width: 412px;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  box-shadow: 0.01rem 0.01rem 0.5rem 0 rgba(0, 0, 0, 0.2);
}

@font-face {
  font-family: "bc_b";
  src: url(/public/fonts/BCcardB.ttf);
}

@font-face {
  font-family: "bc_l";
  src: url(/public/fonts/BCcardL.ttf);
}

.modal_background{
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  max-width: 412px;
  background: rgba(0, 0, 0, 0.6);
  z-index: 10;
}

.alarm_modal_container{
  width: 22rem;
  height: 25rem;
  top: 50%;
  left: 50%;
  z-index: 11;
  position: absolute;
  border-radius: 30px;
  transform: translate(-50%, -50%);
  background: #FFDD71;
  font-family: "bc_b";
  font-size: 1.6rem;
  text-align: center;
}

.alarm_title_container{
  width: fit-content;
  margin: auto;
}

.alarm_img{
  width: 4rem;
}

.alarm_btn{
  width: 6rem;
  height: 3rem;
  border-radius: 1rem;
  margin-top: 2rem;
}
.alarm_content{
  width: 90%;
  height: 50%;
  background-color: white;
  margin: auto;
  border-radius: 1rem;
}