.layoutContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.toolBar {
  display: fixed;
  top: 0;
  margin: 0 auto;
  display: flex;

}

.navBar {
  display: fixed;
  bottom: 0;
  display: flex;
}

.content {
  width: 100%;
  padding: 4.5rem auto;
}
