.modal_background{
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    z-index: 10;
    top: 0;
    max-width: 412px;
    max-height: 100vh;
    display: flex;
    align-items: center;
    z-index: 15;
    justify-content: center;
  }
  
.mini_profile_container{
    width: 24.4rem;
    height: 55rem;
    height: fit-content;
    position: relative;
    background: #FFFBF3;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}

.x{
    height: 2rem;
    width: auto;
    position: absolute;
    right: 3%;
    top: 2%;
}

.profile_img{
    width: 9rem;
    height: 9rem;
    border-radius: 20rem;
    margin-top: 10%;
}

.profile_name{
    font-size: 1.7rem;
    margin-top: 1%;
}

.profile_detail{
    width: 22.4rem;
    height: 5rem;
    background: #FFDD71;
    box-shadow: 0.2rem 0.2rem 0.4rem 0 rgba(0, 0, 0, 0.2);
    font-size: 1.2rem;
    border-radius: 1rem;
    margin-top: -3%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center
}

.strick_txt{
    font-size: 1.5rem;
    text-align: left;
    margin-top: 10%;
    margin-left: -70%;
}

.strick_line{
    width: 22.4rem;
    height: 0.5rem;
    margin-top: -1%;
    background: #FFDD71;
    border-radius: 1rem;
}

.calen_container{
    margin-top: 5%;
}

.delete_friend_btn{
    width: 10rem;
    height: 3.5rem;
    font-size: 1.5rem;
    border-radius: 1rem;
    background: #E98B8B;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 7%;
    margin-bottom: 5%;
    box-shadow: 0.2rem 0.2rem 0.4rem 0 rgba(0, 0, 0, 0.2);

}