.mygoalupdate_container {
  height: 100%;
}

.mygoalupdate_top_bar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 5rem;
}

.mygoalupdate_back_direct {
  position: absolute;
  left: 0.5rem;
  transform: rotate(180deg);
  width: 2rem;
}

.mygoalupdate_title {
  font-size: 2rem;
  line-height: 1;
}