.userinfoupdate_container {
  height: 100%;
  overflow-y: auto;
}

.userinfoupdate_top_bar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 4rem;
}

.userinfoupdate_back_direct {
  position: absolute;
  left: 0.5rem;
  transform: rotate(180deg);
  width: 1.5rem;
}

.userinfoupdate_title {
  font-size: 1.7rem;
  line-height: 1;
}

.userinfoupdate_sub_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.userinfoupdate_profile_container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.userinfoupdate_img_container {
  position: relative;
  width: 40%;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 0 0.1rem 0.5rem 0 rgba(0, 0, 0, 0.2);
}

.userinfoupdate_img_container::before {
  content: '';
  display: block;
  padding-top: 100%;
}

.userinfoupdate_profile_img {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.userinfoupdate_camera_img {
  position: absolute;
  border-radius: 50%;
  width: 10%;
  bottom: 8%;
  right: 30%;
  box-shadow: 0.01rem 0.01rem 0.5rem 0 rgba(0, 0, 0, 0.2);
}

.userinfoupdate_field_container {
  position: relative;
  width: 90%;
  margin-top: 1.5rem;
}

.userinfoupdate_sub_title {
  font-size: 1.2rem;
}

.userinfoupdate_input {
  width: 100%;
  box-sizing: border-box;
  appearance: none;
  padding: 1rem;
  margin-top: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.8rem;
}

/* Chrome, Safari, Edge, Opera */
.userinfoupdate_input::-webkit-outer-spin-button,
.userinfoupdate_input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.userinfoupdate_2col {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin-top: 1.5rem;
}

.userinfoupdate_col {
  position: relative;
  width: 45%;
}

.userinfoupdate_dropdown_img {
  position: absolute;
  width: 0.7rem;
  right: 10%;
  bottom: 25%;
}

.userinfoupdate_search_img {
  position: absolute;
  width: 1.5rem;
  right: 4%;
  bottom: 15%;
}

.userinfoupdate_btn {
  width: 90%;
  background-color: #FFCB23;
  padding: 1rem;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
  margin: 1.5rem 0;
  font-size: 1.2rem;
  box-shadow: 0.01rem 0.01rem 0.5rem 0 rgba(0, 0, 0, 0.2);
}

.userinfoupdate_btn:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.userinfoupdate_error {
  font-size: 0.8rem;
  margin-top: 0.2rem;
  margin-left: 0.8rem;
  margin-bottom: 0;
}